# Recommends System

## Data Load

In [1]:
import pandas as pd

In [18]:
user = pd.read_csv('ml-1m/users.dat', sep="::", header=None, names=['UserID','Gender','Age','Occupation','Zip-code'])

/var/folders/6w/r8mdl5ls21jc9yy30hcqxhvh0000gn/T/ipykernel_96804/1560513675.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  user = pd.read_csv('ml-1m/users.dat', sep="::", header=None, names=['UserID','Gender','Age','Occupation','Zip-code'])

In [20]:
user

      UserID Gender  Age  Occupation Zip-code
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7    02460
4          5      M   25          20    55455
...      ...    ...  ...         ...      ...
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0    01060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]

In [22]:
rating = pd.read_csv('ml-1m/ratings.dat', header=None, sep='::')

/var/folders/6w/r8mdl5ls21jc9yy30hcqxhvh0000gn/T/ipykernel_96804/4042356265.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  rating = pd.read_csv('ml-1m/ratings.dat', header=None, sep='::')

In [23]:
rating.rename(columns={0:'UserID', 1:'MovieID', 2:'Rating', 3:'Timestamp'}, inplace=True)

In [24]:
rating

         UserID  MovieID  Rating  Timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

In [29]:
movie = pd.read_csv('ml-1m/movies.dat', sep='::', encoding='latin1', header=None)

/var/folders/6w/r8mdl5ls21jc9yy30hcqxhvh0000gn/T/ipykernel_96804/3138320100.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movie = pd.read_csv('ml-1m/movies.dat', sep='::', encoding='latin1', header=None)

In [32]:
movie.rename({0:'MovieID', 1:'Title', 2:'Genres'}, axis=1, inplace=True)

In [33]:
movie

,MovieID,Title,Genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

### Join technique

In [37]:
data = rating.merge(movie).merge(user)

In [38]:
data

,UserID,MovieID,Rating,Timestamp,Title,Genres,Gender,Age,Occupation,Zip-code
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1,10,48067
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1,10,48067
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1,10,48067
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1,10,48067
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1,10,48067
...,...,...,...,...,...,...,...,...,...,...
1000204,4211,3791,2,965319075,Footloose (1984),Drama,M,45,5,77662
1000205,4211,3806,3,965319138,MacKenna's Gold (1969),Western,M,45,5,77662
1000206,4211,3840,4,965319197,Pumpkinhead (1988),Horror,M,45,5,77662
1000207,4211,3766,2,965319138,Missing in Action (1984),Action|War,M,45,5,77662
1000208,4211,3834,2,965318885,Bronco Billy (1980),Adventure|Drama|Romance,M,45,5,77662

### Reshape - pivot

In [45]:
user_item = data.pivot(index='UserID', columns='MovieID', values='Rating').fillna(0)
# rating.set_index(['UserID', 'MovieID']).unstack() # 동일

In [46]:
user_item

MovieID,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6040,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

---

## Relationship 
- relationship 구하려면 행열 위치 바껴야 됨

In [49]:
user_item.T

UserID,1,2,3,4,5,6,7,8,9,10,...,6031,6032,6033,6034,6035,6036,6037,6038,6039,6040
MovieID,,,,,,,,,,,,,,,,,,,,,
1,5.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,5.0,5.0,...,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,3.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3948,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3951,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
temp = user_item.T.corr()

In [50]:
temp

UserID,1,2,3,4,5,6,7,8,9,10,...,6031,6032,6033,6034,6035,6036,6037,6038,6039,6040
UserID,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.076896,0.108634,0.125041,0.066521,0.165912,0.049580,0.118941,0.210996,0.231095,...,0.159745,0.064099,0.055992,0.025236,0.089972,0.149382,0.112870,-0.008425,0.157083,0.104715
2,0.076896,1.000000,0.134023,0.161080,0.078324,0.078460,0.295563,0.175344,0.165370,0.181265,...,0.094912,0.063796,0.252272,0.001073,0.147061,0.165607,0.172595,0.054407,0.035336,0.176620
3,0.108634,0.134023,1.000000,0.144237,0.039341,0.060133,0.129435,0.057611,0.109867,0.188171,...,0.081530,0.109514,0.149516,-0.008436,0.072770,0.102538,0.084631,0.113207,0.076012,0.105483
4,0.125041,0.161080,0.144237,1.000000,0.030008,0.003685,0.124595,0.088924,0.082946,0.102959,...,0.157003,0.082482,0.377665,-0.005391,0.066812,0.154771,0.114156,0.058047,0.052548,0.122437
5,0.066521,0.078324,0.039341,0.030008,1.000000,0.018602,0.109706,0.187598,0.234134,0.050791,...,0.079223,0.000363,0.035971,0.039217,0.134286,0.222126,0.129667,0.005221,-0.011729,0.191255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0.149382,0.165607,0.102538,0.154771,0.222126,0.034555,0.091194,0.160453,0.186224,0.223896,...,0.091231,0.153400,0.146459,0.078373,0.181830,1.000000,0.273233,0.103348,0.155684,0.327445
6037,0.112870,0.172595,0.084631,0.114156,0.129667,0.036289,0.094016,0.106206,0.195229,0.188370,...,0.121341,0.248913,0.105363,0.105085,0.092601,0.273233,1.000000,0.033924,0.220705,0.389008
6038,-0.008425,0.054407,0.113207,0.058047,0.005221,0.056804,-0.006415,0.006048,0.083140,0.096379,...,0.101973,0.096931,0.032256,-0.005218,0.048660,0.103348,0.033924,1.000000,0.151887,0.082639
6039,0.157083,0.035336,0.076012,0.052548,-0.011729,0.146758,-0.001191,0.011302,0.017366,0.256687,...,0.101433,0.228559,0.032322,0.090725,0.026979,0.155684,0.220705,0.151887,1.000000,0.187602
6040,0.104715,0.176620,0.105483,0.122437,0.191255,0.046818,0.057358,0.099775,0.178111,0.179727,...,0.129291,0.259436,0.084007,0.102282,0.107967,0.327445,0.389008,0.082639,0.187602,1.000000

In [52]:
temp.loc[1005].nlargest(10)

UserID
1005    1.000000
4132    0.418728
295     0.382294
3684    0.378698
4226    0.374644
5842    0.348435
1693    0.338026
5323    0.332459
2388    0.329556
3674    0.328897
Name: 1005, dtype: float64

In [57]:
temp.loc[1005].sort_values(ascending=False)[1:5] # 내림차순으로 정렬 # 자기 자신은 제외하고 가장 유사도가 높은 아이디 추출

UserID
4132    0.418728
295     0.382294
3684    0.378698
4226    0.374644
Name: 1005, dtype: float64

In [58]:
def sim_user(user, n):
    return temp.loc[user].sort_values(ascending=False)[1:n] # 비슷한 영화를 본 경우 추출 # 나와 가까운 몇 명

In [59]:
sim_user(1, 5)

UserID
5343    0.405356
5190    0.404446
1481    0.380623
1283    0.379054
Name: 1, dtype: float64

In [61]:
rating[rating.UserID==1] # 특정 유저가 본 영화만 검색

    UserID  MovieID  Rating  Timestamp
0        1     1193       5  978300760
1        1      661       3  978302109
2        1      914       3  978301968
3        1     3408       4  978300275
4        1     2355       5  978824291
5        1     1197       3  978302268
6        1     1287       5  978302039
7        1     2804       5  978300719
8        1      594       4  978302268
9        1      919       4  978301368
10       1      595       5  978824268
11       1      938       4  978301752
12       1     2398       4  978302281
13       1     2918       4  978302124
14       1     1035       5  978301753
15       1     2791       4  978302188
16       1     2687       3  978824268
17       1     2018       4  978301777
18       1     3105       5  978301713
19       1     2797       4  978302039
20       1     2321       3  978302205
21       1      720       3  978300760
22       1     1270       5  978300055
23       1      527       5  978824195
24       1     2340       3  978300103
25       1       48       5  978824351
26       1     1097       4  978301953
27       1     1721       4  978300055
28       1     1545       4  978824139
29       1      745       3  978824268
30       1     2294       4  978824291
31       1     3186       4  978300019
32       1     1566       4  978824330
33       1      588       4  978824268
34       1     1907       4  978824330
35       1      783       4  978824291
36       1     1836       5  978300172
37       1     1022       5  978300055
38       1     2762       4  978302091
39       1      150       5  978301777
40       1        1       5  978824268
41       1     1961       5  978301590
42       1     1962       4  978301753
43       1     2692       4  978301570
44       1      260       4  978300760
45       1     1028       5  978301777
46       1     1029       5  978302205
47       1     1207       4  978300719
48       1     2028       5  978301619
49       1      531       4  978302149
50       1     3114       4  978302174
51       1      608       4  978301398
52       1     1246       4  978302091

In [68]:
def user_seen(user):
    return rating[rating.UserID==user]['MovieID'].values # 특정한 한 명이 본 영화

In [69]:
user_seen(1)

array([1193,  661,  914, 3408, 2355, 1197, 1287, 2804,  594,  919,  595,
        938, 2398, 2918, 1035, 2791, 2687, 2018, 3105, 2797, 2321,  720,
       1270,  527, 2340,   48, 1097, 1721, 1545,  745, 2294, 3186, 1566,
        588, 1907,  783, 1836, 1022, 2762,  150,    1, 1961, 1962, 2692,
        260, 1028, 1029, 1207, 2028,  531, 3114,  608, 1246])

---

## Indexing & Slicing
- query, where, isin

In [71]:
rating.UserID.values

array([   1,    1,    1, ..., 6040, 6040, 6040])

In [72]:
set(rating.UserID.values) # 중복제거

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...}

### isin

In [74]:
sim_user(1,5)

UserID
5343    0.405356
5190    0.404446
1481    0.380623
1283    0.379054
Name: 1, dtype: float64

In [75]:
rating[(rating.UserID==5343)|(rating.UserID==5190)|(rating.UserID==1481)]

        UserID  MovieID  Rating  Timestamp
245227    1481     2987       5  974755113
245228    1481     2997       4  974838939
245229    1481     1259       4  974752073
245230    1481      588       4  974755113
245231    1481     3000       5  974755337
...        ...      ...     ...        ...
884705    5343     3712       2  960681969
884706    5343     2791       4  960682425
884707    5343      527       5  960682228
884708    5343     2028       5  960682252
884709    5343     1097       5  966890616

[179 rows x 4 columns]

In [76]:
rating[rating.UserID.isin([5343, 5190, 1481])]

        UserID  MovieID  Rating  Timestamp
245227    1481     2987       5  974755113
245228    1481     2997       4  974838939
245229    1481     1259       4  974752073
245230    1481      588       4  974755113
245231    1481     3000       5  974755337
...        ...      ...     ...        ...
884705    5343     3712       2  960681969
884706    5343     2791       4  960682425
884707    5343      527       5  960682228
884708    5343     2028       5  960682252
884709    5343     1097       5  966890616

[179 rows x 4 columns]

In [78]:
rating[rating.UserID.isin(user_seen(1))] # user 1번이 본 영화

        UserID  MovieID  Rating  Timestamp
0            1     1193       5  978300760
1            1      661       3  978302109
2            1      914       3  978301968
3            1     3408       4  978300275
4            1     2355       5  978824291
...        ...      ...     ...        ...
553558    3408     3771       4  967422602
553559    3408     1097       3  967423277
553560    3408     1240       5  967421749
553561    3408     1242       5  967422499
553562    3408     3785       3  967420964

[9969 rows x 4 columns]

In [91]:
def sim_user_seen(user, n):
    u = temp.loc[user].sort_values(ascending=True)[1:n+1].index
    return rating[rating.UserID.isin(u)]['MovieID'].values

In [92]:
sim_user_seen(1,5) # 나와 가까운 5명이 본 영화들

array([ 648, 1320, 2126, 2058,  653,    6, 1408,  733,  809,  736, 1431,
        902, 2167, 1438,  839,  694, 3113, 1518, 1379, 1527,  780, 1388,
       1391, 2412, 1610, 1616, 2273, 1544, 1479, 3082, 2353, 2427, 1552,
       1556, 1488, 3165, 1562, 1499, 3178, 1722, 3257, 1580, 1586, 1588,
       1801, 1591, 1667, 1599, 2540, 2617, 3274, 1816,  204,  208, 1754,
       1687,  145, 2701, 1831, 1833, 3438, 2490, 1690, 2568,  153, 1917,
       1918,  160,  165, 2720, 2722, 2723,  316,  170, 1792, 1867,  181,
         10, 1876, 2826,   21,  349,  420,  423,  353,  288, 1100,  502,
       1037,  504,  507,  434,   42,  292, 1047, 1049,  376,  377,  380,
       2002, 2006,  465,  393, 2881,  546, 1221,  552,  480,  558,  485,
       3930, 3931, 3932, 2120, 3933, 2121, 2122, 1321, 1323, 2992, 1327,
       2995, 1329, 1258, 1330, 1334, 1261, 1335, 1339,  735, 3013, 3016,
       3017, 1340, 3018, 1342, 2145, 1345, 2148, 1346, 2149, 1347, 1348,
        742, 1278, 3021, 3024, 1350, 2159, 2160, 2163, 2167,  841,  842,
       2327, 2328, 3058, 1387, 1388, 1389,  799,  879, 3081, 2428, 2288,
       2367,  968, 2513, 2515, 2516, 2517, 1644, 1645, 2377, 1721, 2525,
       2454, 2455, 2456, 1655, 2459, 2389, 2460, 2461, 2462, 3340, 2613,
       2614, 2617, 3351, 2553, 2554, 1756, 2633, 2634, 2635, 2636, 1762,
       1690, 2710, 2713, 2716, 2717, 2644, 2645, 2719, 2646, 2647, 2648,
       2649, 2650, 2651, 2652, 1924, 2654, 2655, 2656, 2657,  177, 2664,
       1862, 2668,  253,  328, 2740, 2746, 3476, 2747,  330,  332,  196,
       3550, 3627, 2826, 1953, 3488,  273, 2900, 2902, 2903, 3708, 3709,
       3499, 1969, 3572, 3573, 1970, 1971, 3576, 1974, 1975, 1976, 1977,
        434, 1978, 3727, 2780, 2781, 2784, 1982,  512, 1983, 1984, 1985,
       2789, 1987, 3732, 3660, 3661, 3662, 3663, 3664, 1991, 2867, 1992,
       1128, 1993, 1995, 1997, 1998, 3811, 2003, 2004, 1130,  532, 2878,
         70, 1214, 1215,  610,  611, 1219, 3833, 3837, 3838, 3692, 3696,
       3840, 3917, 3918, 3919,  565, 3923, 2113, 3928, 1241, 2118, 2119,
       3018, 3024,  902, 2412, 3081, 3096,  968, 2454, 2455, 2456, 2459,
       3459, 1862, 2814, 3476, 2826,  273, 3499, 2867, 1128, 2868,  606,
       2107, 2113, 2118, 2119, 2121, 2122, 2160, 2513, 2519, 2554,  332,
       2900, 2901, 2902,  356, 3576, 1974, 1975, 1982, 1987, 1994, 1995,
       1996,  382,   70, 1214, 1219, 2974, 2995,  724, 1261,  742, 1278,
       1644, 1655, 3264, 2617, 2633, 2634, 1690, 2644, 2648, 2654, 1320,
       1321, 1327, 1331, 1332, 1333, 1334, 1339, 1340, 1341, 1345, 1346,
       1350, 2328, 1387, 1388, 1389,  879, 2366, 2367, 2368, 2377, 2389,
        152, 2710, 2716, 2717, 2719, 1771, 2722,  188, 2740,  196, 2781,
       2782, 2783, 2784, 2787, 2789, 2790, 2793, 2003, 2004, 1407,  590,
       3016, 2097, 3081,  968, 2454, 2459,  253, 3476, 2826,  273, 2867,
       1130,  610,  611, 2118, 2120, 2121, 2149, 2160, 2167, 2517, 2553,
       2554, 3550, 2900, 2901, 2902, 1969,  356, 1970, 1972, 1974, 1975,
       1982, 1983, 1984, 1985, 1991, 1994, 1995,  380, 1997,  382, 1214,
       1215, 1219, 1258, 1261, 1278,  799, 1617, 2279, 2288, 1645, 3264,
       2617, 2642, 2655, 2657, 2668,  407,  426, 1329, 1333, 1334, 1339,
       1342, 1347, 1350, 2301, 2327, 1387, 1388,  879,  152, 2710, 2713,
        177, 2746, 2747,  196, 2781, 2787, 2789, 2793, 2003,  577,  589,
          2, 3005,  593,  597, 2076, 3033,  913, 2416, 3412,  237, 2827,
        296, 2858, 2860, 1127, 2880, 2881,  648,  673, 2153, 2167, 1544,
       1552, 1562, 1580, 1591, 1917,  303,  316,  318, 2598,  329,   10,
       3552,  349,   36, 2916, 3576,   44,   50, 3591,  380,  381, 1210,
       1215, 1240, 2995,  733,  736,  761, 1605,  799, 1615, 3269, 2617,
       2628,  410,  434,  455,  464,  480, 1356, 1357, 1358,  836, 1372,
       1375, 1377,  849, 2322, 3308,  112, 2396, 1744, 3350, 2706,  153,
        160, 1779, 2723, 3385,  173, 1797, 2752,  524, 2006, 1089])

In [94]:
# 가까운 5명이 본 영화중에 내가 본 영화를 제외 # 차집합 개념 이용
set(sim_user_seen(1,5)) - set(user_seen(1))

{2,
 6,
 10,
 21,
 36,
 42,
 44,
 50,
 70,
 112,
 145,
 152,
 153,
 160,
 165,
 170,
 173,
 177,
 181,
 188,
 196,
 204,
 208,
 237,
 253,
 273,
 288,
 292,
 296,
 303,
 316,
 318,
 328,
 329,
 330,
 332,
 349,
 353,
 356,
 376,
 377,
 380,
 381,
 382,
 393,
 407,
 410,
 420,
 423,
 426,
 434,
 455,
 464,
 465,
 480,
 485,
 502,
 504,
 507,
 512,
 524,
 532,
 546,
 552,
 558,
 565,
 577,
 589,
 590,
 593,
 597,
 606,
 610,
 611,
 648,
 653,
 673,
 694,
 724,
 733,
 735,
 736,
 742,
 761,
 780,
 799,
 809,
 836,
 839,
 841,
 842,
 849,
 879,
 902,
 913,
 968,
 1037,
 1047,
 1049,
 1089,
 1100,
 1127,
 1128,
 1130,
 1210,
 1214,
 1215,
 1219,
 1221,
 1240,
 1241,
 1258,
 1261,
 1278,
 1320,
 1321,
 1323,
 1327,
 1329,
 1330,
 1331,
 1332,
 1333,
 1334,
 1335,
 1339,
 1340,
 1341,
 1342,
 1345,
 1346,
 1347,
 1348,
 1350,
 1356,
 1357,
 1358,
 1372,
 1375,
 1377,
 1379,
 1387,
 1388,
 1389,
 1391,
 1407,
 1408,
 1431,
 1438,
 1479,
 1488,
 1499,
 1518,
 1527,
 1544,
 1552,
 1556,
 1562,
 1580,
 1586,
 1588,
 1591,
 1599,
 1605,
 1610,
 1615,
 1616,
 1617,
 1644,
 1645,
 1655,
 1667,
 1687,
 1690,
 1722,
 1744,
 1754,
 1756,
 1762,
 1771,
 1779,
 1792,
 1797,
 1801,
 1816,
 1831,
 1833,
 1862,
 1867,
 1876,
 1917,
 1918,
 1924,
 1953,
 1969,
 1970,
 1971,
 1972,
 1974,
 1975,
 1976,
 1977,
 1978,
 1982,
 1983,
 1984,
 1985,
 1987,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 2002,
 2003,
 2004,
 2006,
 2058,
 2076,
 2097,
 2107,
 2113,
 2118,
 2119,
 2120,
 2121,
 2122,
 2126,
 2145,
 2148,
 2149,
 2153,
 2159,
 2160,
 2163,
 2167,
 2273,
 2279,
 2288,
 2301,
 2322,
 2327,
 2328,
 2353,
 2366,
 2367,
 2368,
 2377,
 2389,
 2396,
 2412,
 2416,
 2427,
 2428,
 2454,
 2455,
 2456,
 2459,
 2460,
 2461,
 2462,
 2490,
 2513,
 2515,
 2516,
 2517,
 2519,
 2525,
 2540,
 2553,
 2554,
 2568,
 2598,
 2613,
 2614,
 2617,
 2628,
 2633,
 2634,
 2635,
 2636,
 2642,
 2644,
 2645,
 2646,
 2647,
 2648,
 2649,
 2650,
 2651,
 2652,
 2654,
 2655,
 2656,
 2657,
 2664,
 2668,
 2701,
 2706,
 2710,
 2713,
 2716,
 2717,
 2719,
 2720,
 2722,
 2723,
 2740,
 2746,
 2747,
 2752,
 2780,
 2781,
 2782,
 2783,
 2784,
 2787,
 2789,
 2790,
 2793,
 2814,
 2826,
 2827,
 2858,
 2860,
 2867,
 2868,
 2878,
 2880,
 2881,
 2900,
 2901,
 2902,
 2903,
 2916,
 2974,
 2992,
 2995,
 3005,
 3013,
 3016,
 3017,
 3018,
 3021,
 3024,
 3033,
 3058,
 3081,
 3082,
 3096,
 3113,
 3165,
 3178,
 3257,
 3264,
 3269,
 3274,
 3308,
 3340,
 3350,
 3351,
 3385,
 3412,
 3438,
 3459,
 3476,
 3488,
 3499,
 3550,
 3552,
 3572,
 3573,
 3576,
 3591,
 3627,
 3660,
 3661,
 3662,
 3663,
 3664,
 3692,
 3696,
 3708,
 3709,
 3727,
 3732,
 3811,
 3833,
 3837,
 3838,
 3840,
 3917,
 3918,
 3919,
 3923,
 3928,
 3930,
 3931,
 3932,
 3933}

### <span style="background-color:#FFE6E6">위에서 계산한 내용을 함수 하나로 정의</span>

In [98]:
import numpy as np

In [101]:
def sim_user_seen_except_me(user, n):
    u = temp.loc[user].sort_values(ascending=True)[1:n+1].index
    um = rating[rating.UserID.isin(u)]['MovieID'].values
    my = rating[rating.UserID==user]['MovieID'].values
    return np.setdiff1d(um, my) # setdiff1d: 차집합 구하기

In [105]:
movie.set_index('MovieID')

                                      Title                        Genres
MovieID
1                          Toy Story (1995)   Animation|Children's|Comedy
2                            Jumanji (1995)  Adventure|Children's|Fantasy
3                   Grumpier Old Men (1995)                Comedy|Romance
4                  Waiting to Exhale (1995)                  Comedy|Drama
5        Father of the Bride Part II (1995)                        Comedy
...                                     ...                           ...
3948                Meet the Parents (2000)                        Comedy
3949             Requiem for a Dream (2000)                         Drama
3950                       Tigerland (2000)                         Drama
3951                Two Family House (2000)                         Drama
3952                  Contender, The (2000)                Drama|Thriller

[3883 rows x 2 columns]

In [110]:
movie.loc[sim_user_seen_except_me(3, 3)]

      MovieID                                        Title            Genres
17         18                            Four Rooms (1995)          Thriller
28         29            City of Lost Children, The (1995)  Adventure|Sci-Fi
58         59  Confessional, The (Le Confessionnal) (1995)     Drama|Mystery
85         86                          White Squall (1996)   Adventure|Drama
153       155                        Beyond Rangoon (1995)         Drama|War
...       ...                                          ...               ...
3861     3931               Giant Gila Monster, The (1959)     Horror|Sci-Fi
3863     3933                    Killer Shrews, The (1959)     Horror|Sci-Fi
3864     3934                                Kronos (1957)            Sci-Fi
3879     3949                   Requiem for a Dream (2000)             Drama
3882     3952                        Contender, The (2000)    Drama|Thriller

[231 rows x 3 columns]

In [111]:
mi = movie.set_index('MovieID')

In [112]:
# 다른 세 명은 봤지만 나는 보지 못한 영화들
mi.loc[sim_user_seen_except_me(3,3)]

,Title,Genres
MovieID,,
17,Sense and Sensibility (1995),Drama|Romance
28,Persuasion (1995),Romance
58,"Postino, Il (The Postman) (1994)",Drama|Romance
85,Angels and Insects (1995),Drama|Romance
153,Batman Forever (1995),Action|Adventure|Comedy|Crime
...,...,...
3861,"Replacements, The (2000)",Comedy
3863,"Cell, The (2000)",Sci-Fi|Thriller
3864,Godzilla 2000 (Gojira ni-sen mireniamu) (1999),Action|Adventure|Sci-Fi
3879,"Art of War, The (2000)",Action
3882,Bring It On (2000),Comedy

In [113]:
lake = data.set_index('MovieID')

In [115]:
lake.loc[sim_user_seen_except_me(3,3)] # 3번과 가까운 3명이 본 영화들을 추출

,UserID,Rating,Timestamp,Title,Genres,Gender,Age,Occupation,Zip-code
MovieID,,,,,,,,,
17,18,4,978156535,Sense and Sensibility (1995),Drama|Romance,F,18,3,95825
17,19,4,978554393,Sense and Sensibility (1995),Drama|Romance,M,1,10,48073
17,33,1,978558517,Sense and Sensibility (1995),Drama|Romance,M,45,3,55421
17,44,5,978019721,Sense and Sensibility (1995),Drama|Romance,M,45,17,98052
17,47,5,977978774,Sense and Sensibility (1995),Drama|Romance,M,18,4,94305
...,...,...,...,...,...,...,...,...,...
3882,2209,4,974602835,Bring It On (2000),Comedy,M,35,7,10011
3882,860,1,975342546,Bring It On (2000),Comedy,M,18,0,78237
3882,1156,3,974864647,Bring It On (2000),Comedy,F,50,2,33334
3882,1154,3,974865981,Bring It On (2000),Comedy,F,1,10,53545
3882,745,1,975466715,Bring It On (2000),Comedy,M,1,10,90004